flows.json
[{"id":"1a011f2f.e5d281","type":"nrcloudcmd","z":"c5f41da1.96f4f","name":"","x":323,"y":148,"wires":[["d121e45a.b806c8"]]},{"id":"32b6dd40.c67412","type":"ui_button","z":"c5f41da1.96f4f","name":"","group":"164a0c05.a83194","order":0,"width":"1","height":"1","label":"on","color":"","icon":"","payload":"on","payloadType":"str","topic":"","x":111,"y":98,"wires":[["1a011f2f.e5d281"]]},{"id":"d121e45a.b806c8","type":"debug","z":"c5f41da1.96f4f","name":"","active":true,"console":"false","complete":"false","x":540,"y":147,"wires":[]},{"id":"1c1168e.11b2897","type":"ui_button","z":"c5f41da1.96f4f","name":"","group":"164a0c05.a83194","order":0,"width":"1","height":"1","label":"off","color":"","icon":"","payload":"off","payloadType":"str","topic":"","x":114,"y":202,"wires":[["1a011f2f.e5d281"]]},{"id":"d962adaa.8526d","type":"ui_template","z":"c5f41da1.96f4f","group":"164a0c05.a83194","name":"","order":0,"width":"25","height":"14","format":"<iframe id=\"cloudcmd\" seamless width=\"100%\" height=\"100%\"></iframe>\n<script>\n(function(scope) {\n    debugger;\n    var port=(window.location.port===0 || window.location.port==='')?'':':'+window.location.port;\n    var src =   window.location.protocol+\n                '//'+window.location.hostname+\n                port +\n                '/cldcmd';\n    var ifr = document.getElementById('cloudcmd');\n    ifr.src=src;\n    // debugger;\n    ifr.parentElement.style.height=\"100%\";\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":539,"y":344,"wires":[[]]},{"id":"164a0c05.a83194","type":"ui_group","z":"","name":"Cloud Cmd","tab":"df8723b8.84eed","disp":true,"width":"25"},{"id":"df8723b8.84eed","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
